# profile
profileCPU/
profileMem/

# Binaries for programs and plugins
pbftlinearclient
!pbftlinearclient/
pbftlinearvcclient
!pbftlinearvcclient/
pbftlinearserver
!pbftlinearserver/
*.exe
*.exe~
*.dll

# other
keys/
.idea/